* {
    margin: 0;
    padding: 0;
}
%background-color {background-color: white!important;}
%Shadowcolor {box-shadow: 0px 10px 20px rgb(69, 67, 70);}
%Alignmen1 {
    text-align: center;
    background-color: #2909ddd7;
    font-size: 30px;
    color: #fff;
    padding: 1rem;
}
%Alignment2 {
    text-align: center;
    padding: 0.1rem;
}
/*------------------------------Navigation-------------------------------*/
#Navigation {
    position: sticky;
    top: 0;
    z-index: 10;
    .navbar {@extend %background-color }
    .navbar-brand {
        padding: 0px;
        height: 40px;
        font-weight: 600;
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    li {
        padding: 0 10px;
    }
    a {
        float: right;
        text-align: left;
    }
    .nav-item :hover {
        color: white!important;
        @extend %background-color
    }
    .nav-link {
        color: #555!important;
        font-weight: 600;
        font-size: 20px;
    }
    .navbar-toggler {
        border: none!important;
    }
}
/*------xxxxxxxxxx---------------Navigation------------xxxxxxxxxxx----------*/
/*------------------------------Flight Package-------------------------------*/
#Flights {
.Flights {
    h2 {
    margin-bottom: 1rem;
}
h5 {
    font-family:serif;
    font-size: 1.3rem;
    font-weight: 600;
}
}
#Price {
    padding:40px 0 ;
    background:#9c979736;
}
 h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 50px;
    font-weight: bold;
    font-family: cursive;
    font-variant: small-caps;
    color: rgba(70, 236, 20, 0.836);
}
.Price {
    margin: 10px auto;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.3s;
    :hover {
        box-shadow: 0px 10px 20px rgb(69, 67, 70);
    }
}
.Price-Head {
    background-color: rgba(76, 0, 130, 0.815);
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    h2 {
        color: white;
        margin-bottom: 5px;
        padding: 5px;
        font-size: 40px;
    } 
    p {
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    span {
        font-size:15px
    }
}
.Price_Content {
        float: left;
    width: 100%;
    padding: 10px 25px ;
    ul li {
        padding: 15px 2px ;
        border-bottom: 0.8px solid #9449e9;
        list-style: none;
    }
    ul li:last-child {
        border: none;
    }
}
.fi-cwsuxl-check {
    padding-right: 12px;
    color: green;
}
.fi-cnsuxl-times-solid {
    padding-right: 12px;
    color: red;
}
.Join {
    float: left;
    width: 100%;
    text-align: center;
    padding: 15px 15px 30px;
    a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
    :hover {@extend %Shadowcolor }
}
.Join_button {
    float: left;
    width: 100%;
    text-align: center;
    padding: 15px 50px;
    background-color:rgba(216, 46, 216, 0.534);
    border-radius: 0.8rem;
    transition: 0.3s;
}
}
/*------xxxxxxxxxx---------------Flight Package------------xxxxxxxxxxx----------*/
/*------------------------------Package Comparison-------------------------------*/
#Comparison {
h2 {margin-bottom: 1rem;}
.Plan1 h2 {@extend %Alignment1 } th {@extend %Alignment2 } td {@extend %Alignment2 }
.Plan2 h2 {@extend %Alignment1 } th {@extend %Alignment2 } td {@extend %Alignment2 }
.Plan3 h2 {@extend %Alignment1 } th {@extend %Alignment2 } td {@extend %Alignment2 }
table tr td, th {border: 2px solid blue;}
}
/*------xxxxxxxxxx---------------Package Comparison------------xxxxxxxxxxx----------*/